crt_prsn_org_ws.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:gt="http://www.csc.com/graphtalk/aia/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.csc.com/graphtalk/aia/">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gt="http://www.csc.com/graphtalk/aia/" targetNamespace="http://www.csc.com/graphtalk/aia/" elementFormDefault="qualified">
            <xsd:element name="PersonOrganizationCreate">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Environment" type="gt:WMEnv" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="ActivityRequest" type="gt:ActivityRequest" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="PartyRole" type="gt:PartyRole" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PersonOrganizationCreateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="PartyRole" type="gt:PartyRole" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="ReturnStatus" type="gt:WMStatus" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Object" abstract="true">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:complexType name="WMEnv">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ActivityIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DataProfiles" type="gt:ArrayOfString" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Language" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Mode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Profiles" type="gt:ArrayOfString" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="UserData" type="gt:ArrayOfProp" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="UserID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Workqueues" type="gt:ArrayOfString" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Prop">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="Key" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Value" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="WMStatus">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="Code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Context" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ErrorList" type="gt:ArrayOfError" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Error">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="Code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Level" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Message" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MessageDetailList" type="gt:ArrayOfString" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Source" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Fault">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="StackTrace" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ActivityRequest">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RequestDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="PartyRole">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ContractList" type="gt:ArrayOfContract" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ContractRoleCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CoverageList" type="gt:ArrayOfCoverage" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FullType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FullTypeLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Identifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Main" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Organization" type="gt:Organization" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PartyType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Person" type="gt:Person" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RoleList" type="gt:ArrayOfPartyRole" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RoleType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RoleTypeLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ExtensionElement">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Identifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Value" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Contract">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AnnualNetPremium" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AnnualPremium" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BillingList" type="gt:ArrayOfBilling" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CoverageList" type="gt:ArrayOfCoverage" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EntryFees" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExternalNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Fees" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FinancialActivityList" type="gt:ArrayOfFinancialActivity" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="GeneralConditionsList" type="gt:ArrayOfGeneralConditions" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="GlobalRegularPremium" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Mandatory" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MaximumAge" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MaximumInsuredNumber" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MembershipFees" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MinimumAge" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Number" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="OperationList" type="gt:ArrayOfOperation" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PostalStampDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PremiumAdjustmentList" type="gt:ArrayOfPremiumAdjustment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PreviousNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProductIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProductLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProductName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProductType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProductTypeLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProposalNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PropositionStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ReceivedDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RenewalDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RoleList" type="gt:ArrayOfPartyRole" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SignatureDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StatusDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StatusLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StatusMotive" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Billing">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BillReceiver" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BillReceiverLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CreditCard" type="gt:CreditCard" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DirectDebitDay" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DirectDebitDayList" type="gt:ArrayOfString" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DirectDebitMandate" type="gt:DirectDebitMandate" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DirectDebitStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DueDateType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DueDateTypeLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FeesOverrideList" type="gt:ArrayOfFeesOverride" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Frequency" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FrequencyFees" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FrequencyLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FrequencyList" type="gt:ArrayOfString" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FrequencyType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MainDueDay" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MainDueMonth" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Payer" type="gt:PartyRole" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PaymentType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PaymentTypeLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RoleList" type="gt:ArrayOfPartyRole" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="CreditCard">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressCategoryLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Confidential" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Invalid" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Preferred" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CVVNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CardHolderName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CardNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CardType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExchangeLevel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExpiryDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="DirectDebitMandate">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Identifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MaximumAmount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="FeesOverride">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Coverage">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Eligibility" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Identifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Label" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Mandatory" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Number" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BillingDuration" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BillingDurationUnit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BillingEndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BillingStartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DefinitionNumber" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Duration" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MaximumAge" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MembershipList" type="gt:ArrayOfMembership" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MinimumAge" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RiskCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SettlementDuration" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SettlementDurationUnit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SettlementEndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Membership">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Main" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MaximumAge" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Person" type="gt:Person" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RiskCode" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Smoker" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StatusLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TypeLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Person">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Age" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BankAccountList" type="gt:ArrayOfBankAccount" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ClientNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ClientNumber2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ClientProfile" type="gt:ClientProfile" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CreditCardList" type="gt:ArrayOfCreditCard" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EMailAddressList" type="gt:ArrayOfEMailAddress" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FirstMembershipDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Identifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MembershipList" type="gt:ArrayOfMembership" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Nationality" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PhoneAddressList" type="gt:ArrayOfPhoneAddress" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PostalAddressList" type="gt:ArrayOfPostalAddress" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PrimaryLanguage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RelationshipList" type="gt:ArrayOfPartyRelationship" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BirthAreaCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BirthCityName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BirthCountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BirthDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BirthINSEECode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BirthPostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DeathDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EducationLevel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FirstName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Gender" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="IdentityDocument" type="gt:IdentityDocument" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="IdentityDocumentList" type="gt:ArrayOfIdentityDocument" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="IndividualTaxNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="LastName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MaidenName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MaritalStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MemberSituationList" type="gt:ArrayOfMemberSituation" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MiddleName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MothersMaidenName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Particle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PersonDetail" type="gt:PersonDetail" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PersonTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PersonTitleLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PrenuptialAgreement" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PrenuptialAgreementDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProfessionCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProfessionDirectory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProfessionLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProfessionTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProfessionalStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Pseudonym" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ResidenceCountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RetirementAge" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RetirementDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Salutation" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SchoolStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Suffix" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="VIP" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="BankAccount">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressCategoryLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Confidential" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Invalid" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Preferred" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AllowableTransactionList" type="gt:ArrayOfString" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BIC" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BankCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BankName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BankType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BranchCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="OverdraftAmount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AccountDetails" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AccountHolderName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AccountKey" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="IBAN" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ClientProfile">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="EMailAddress">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressCategoryLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Confidential" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Invalid" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Preferred" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="PhoneAddress">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressCategoryLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Confidential" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Invalid" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Preferred" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Availability1" type="gt:ArrayOfString" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Availability2" type="gt:ArrayOfString" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CountryPhoneCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndTime1" type="xsd:time" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndTime2" type="xsd:time" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PhoneType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartTime1" type="xsd:time" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartTime2" type="xsd:time" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="PostalAddress">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressCategoryLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddressIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Confidential" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Invalid" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Preferred" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AddresseeName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Apartment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Building" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CityCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CityName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CountyName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DistrictLine" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="GeographicalZoneName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="House" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="INSEECode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="LocalName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="POBox" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PhoneList" type="gt:ArrayOfPhoneAddress" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ResidenceLine" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StreetLine" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StreetName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StreetNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StreetType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TaxAddress" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TypeLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="PartyRelationship">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Domain" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Identifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Organization" type="gt:Organization" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Person" type="gt:Person" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SourceOrganization" type="gt:Organization" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SourcePerson" type="gt:Person" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Organization">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Age" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BankAccountList" type="gt:ArrayOfBankAccount" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ClientNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ClientNumber2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ClientProfile" type="gt:ClientProfile" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CreditCardList" type="gt:ArrayOfCreditCard" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EMailAddressList" type="gt:ArrayOfEMailAddress" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FirstMembershipDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Identifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MembershipList" type="gt:ArrayOfMembership" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Nationality" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PhoneAddressList" type="gt:ArrayOfPhoneAddress" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PostalAddressList" type="gt:ArrayOfPostalAddress" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PrimaryLanguage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RelationshipList" type="gt:ArrayOfPartyRelationship" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Acronym" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ActivityDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BaseCollectiveAgreement" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BranchNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BusinessClass" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BusinessCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CollectiveAgreement" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EnterpriseNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FoundationCountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FoundationDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="GroupIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="GroupNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="IsLargeCompany" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="LegalName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="LumpSum" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MajorAccount" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="OrganizationDetail" type="gt:OrganizationDetail" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="OrganizationTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="OrganizationType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProfessionalClass" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProfileDetail" type="gt:OrganizationProfile" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RCS" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RM" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RMNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ReceivershipPeriodList" type="gt:ArrayOfPeriod" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RegistrationList" type="gt:ArrayOfRegistration" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SIRENNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SIRETNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SiteHazard" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SiteHazardLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TVANumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TerminationDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TerminationReason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TradeName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TradeRegisterNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="VIP" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="OrganizationDetail">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BaseCollectiveAgreement" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CollectiveAgreement" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FondationCountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FondationDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="IndicateurRCS" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="IndicateurRM" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MajorAccount" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SiteHazard" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SiteHazardLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="OrganizationProfile">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DomesticRate" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExecutivePayroll" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="HeadCount" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Imposition" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="InternationalRate" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="LumpSum" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="NonExecutivePayroll" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ProfitAmount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TurnoverAmount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TurnoverProgressionRate" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Period">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Registration">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ActivityDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BusinessCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="NumeroRM" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="NumeroSIREN" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="NumeroSIRET" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="OrganizationNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="VATNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="IdentityDocument">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Authority" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CodeINSEE" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExpirationDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="IssueDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="IssuePlace" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="NationalNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PersonNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SerialNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Series" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TaxPayerNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Valid" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="MemberSituation">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SalaryGrading" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="PersonDetail">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BirthCity" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BirthCountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BirthRegionCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EducationLevel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Gender" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MaritalStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MarriageAgreement" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MarriageAgreementDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MiddleName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Nationality" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Particle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PreviousSurname" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Pseudonym" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ResidenceCountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Salutation" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Suffix" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="FinancialActivity">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="OperationIdentifier1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="OperationIdentifier2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="OperationType1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="OperationType2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="GeneralConditions">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Identifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Operation">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="AccountingDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Amount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BankAccount" type="gt:BankAccount" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BillItemList" type="gt:ArrayOfBillItem" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CreditCard" type="gt:CreditCard" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FeesOverrideList" type="gt:ArrayOfFeesOverride" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Identifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Label" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Membership" type="gt:Membership" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MoneyAllocationList" type="gt:ArrayOfOperation" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MoneyIn" type="gt:MoneyIn" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MoneyOut" type="gt:MoneyOut" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="OperationAllocationList" type="gt:ArrayOfOperationAllocation" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Payer" type="gt:PartyRole" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PaymentType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PeriodEndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PeriodStartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RoleList" type="gt:ArrayOfPartyRole" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SettlementPayment" type="gt:SettlementPayment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StatusDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StatusLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="UnreconciledAmount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ValueDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="BillItem">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Amount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Label" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Rate" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="MoneyIn">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BankCheckNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BankCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="BranchCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ContractNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DepositBankAccount" type="gt:BankAccount" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DepositDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PaymentType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ReceiptDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ReceiptNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TrackingCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="MoneyOut">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PaymentDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PaymentType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PaymentTypeLabel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PostalAddress" type="gt:PostalAddress" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="OperationAllocation">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Amount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Operation" type="gt:Operation" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="SettlementPayment">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="PaymentType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="PremiumAdjustment">
                <xsd:complexContent>
                    <xsd:extension base="gt:Object">
                        <xsd:sequence>
                            <xsd:element name="EffectiveDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ExtensionList" type="gt:ArrayOfExtensionElement" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="StartDate" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Amount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Identifier" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Rate" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfProp">
                <xsd:sequence>
                    <xsd:element name="Prop" type="gt:Prop" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfError">
                <xsd:sequence>
                    <xsd:element name="Error" type="gt:Error" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPeriod">
                <xsd:sequence>
                    <xsd:element name="Period" type="gt:Period" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfString">
                <xsd:sequence>
                    <xsd:element name="String" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfBilling">
                <xsd:sequence>
                    <xsd:element name="Billing" type="gt:Billing" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfBillItem">
                <xsd:sequence>
                    <xsd:element name="BillItem" type="gt:BillItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfContract">
                <xsd:sequence>
                    <xsd:element name="Contract" type="gt:Contract" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCoverage">
                <xsd:sequence>
                    <xsd:element name="Coverage" type="gt:Coverage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfOperation">
                <xsd:sequence>
                    <xsd:element name="Operation" type="gt:Operation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPartyRole">
                <xsd:sequence>
                    <xsd:element name="PartyRole" type="gt:PartyRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCreditCard">
                <xsd:sequence>
                    <xsd:element name="CreditCard" type="gt:CreditCard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfMembership">
                <xsd:sequence>
                    <xsd:element name="Membership" type="gt:Membership" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfBankAccount">
                <xsd:sequence>
                    <xsd:element name="BankAccount" type="gt:BankAccount" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfEMailAddress">
                <xsd:sequence>
                    <xsd:element name="EMailAddress" type="gt:EMailAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFeesOverride">
                <xsd:sequence>
                    <xsd:element name="FeesOverride" type="gt:FeesOverride" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPhoneAddress">
                <xsd:sequence>
                    <xsd:element name="PhoneAddress" type="gt:PhoneAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfRegistration">
                <xsd:sequence>
                    <xsd:element name="Registration" type="gt:Registration" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPostalAddress">
                <xsd:sequence>
                    <xsd:element name="PostalAddress" type="gt:PostalAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfMemberSituation">
                <xsd:sequence>
                    <xsd:element name="MemberSituation" type="gt:MemberSituation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfExtensionElement">
                <xsd:sequence>
                    <xsd:element name="ExtensionElement" type="gt:ExtensionElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfIdentityDocument">
                <xsd:sequence>
                    <xsd:element name="IdentityDocument" type="gt:IdentityDocument" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFinancialActivity">
                <xsd:sequence>
                    <xsd:element name="FinancialActivity" type="gt:FinancialActivity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfGeneralConditions">
                <xsd:sequence>
                    <xsd:element name="GeneralConditions" type="gt:GeneralConditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPartyRelationship">
                <xsd:sequence>
                    <xsd:element name="PartyRelationship" type="gt:PartyRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPremiumAdjustment">
                <xsd:sequence>
                    <xsd:element name="PremiumAdjustment" type="gt:PremiumAdjustment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfOperationAllocation">
                <xsd:sequence>
                    <xsd:element name="OperationAllocation" type="gt:OperationAllocation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="PersonOrganizationCreateSoapIn">
        <part name="parameters" element="gt:PersonOrganizationCreate"/>
    </message>
    <message name="PersonOrganizationCreateSoapOut">
        <part name="parameters" element="gt:PersonOrganizationCreateResponse"/>
    </message>
    <portType name="WorkManagementClientSoap">
        <operation name="PersonOrganizationCreate">
            <input message="gt:PersonOrganizationCreateSoapIn"/>
            <output message="gt:PersonOrganizationCreateSoapOut"/>
        </operation>
    </portType>
    <binding name="WorkManagementClientSoap" type="gt:WorkManagementClientSoap">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="PersonOrganizationCreate">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" soapAction="PersonOrganizationCreate"/>
            <input>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </input>
            <output>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="WorkManagementClient">
        <port name="WorkManagementClientSoap" binding="gt:WorkManagementClientSoap">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://localhost:10101"/>
        </port>
    </service>
</definitions>